*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
}
.checkbox-round .form-check-input {
    border-radius: 50%;
  }
.task-input-form{
    background-image: url("../public/images/bg-desktop-light.jpg");
    height:40vh;
    background-repeat: none;
    background-size: cover;
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}